<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>

  <body>
    <section class= 'container'>
      <h2>USER</h2>
      <%= render @user %>
      <div class= 'bio'>
        <p>Bio:</p>
        <p><%= @user.bio %></p>
      </div>
      <h3>LAST POSTS</h3>
      <% @user.recent_posts_user.includes([:author]).each do |post| %>
        <%= link_to user_post_path(post.author.id, post.id) do %>
          <div class= 'post'>
            <p>Post #<%= post.id %></p>
            <p><%= post.text %></p>
            <div class= "counters">
              <%= render 'posts/like', post: %>
              <p>Comments: <%= post.comments_counter %></p>
              <p>Likes: <%= post.likes_counter %></p>
            </div>
          </div>
        <% end %>
      <% end %>
      <%= link_to user_posts_path(@user.id) do %>
        <button class= 'detailsbtn'>See all posts</button>
      <% end %>
    </section>
  </body>
</html>
