<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>

  <body>
    <section class= 'container'>
      <h2>list of all posts for a given user</h2>
      <%= render @user %>
      <% @posts.each do |post| %>
        <%= link_to user_post_path(post.author.id, post.id) do %>
          <div class= 'post'>
            <p>Post #<%= post.id %></p>
            <p><%= post.text %></p>
            <div class= "counters">
              <p>Comments: <%= post.comments_counter %></p>
              <p>Likes: <%= post.likes_counter %></p>
            </div>
          </div>
        <% end %>
        <div class= 'comments'>
          <% post.recent_post_coments.each do |comment| %>
            <div class= 'comment'>
              <p><%= comment.author.name %>: <%= comment.text %></p>
            </div>
          <% end %>
        </div>
      <% end %>
      <button class= 'detailsbtn'>Pagination (not working yet)</button>
    </section>
  </body>
</html>
