<h2>New Post</h2>

<%= form_with model: @user_post do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :text %>
    <%= f.text_area :text %>
  </div>
  <div>
    <%= f.submit "Add Post" %>
  </div>
<% end %>
